@import './styles/settings.scss';

.container {
    max-width: 1200px;
    margin: 20px auto;
    background: $color-dark;
    font-family: $font-text;
    letter-spacing: 0.5px;
    text-align: center;
}